/*Reseat*/
* {
    padding : 0;
    box-sizing : border-box;
    }
    /* header {
    display: flex;
    background-color : black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

    header img {
    width: 50%;
    }

    header nav ul {
    list-style : none;
    display: flex;
    justify-content: space-between;
    column-gap: 2vh;
    flex-wrap: wrap;
    } */

 /*MAIN*/
 main{
    background-color: lightgrey;
 }

/* 
 section h1 {
    text-align: center;
    font-size:  xx-large;
    font-style: oblique;
 } */
 
 section h4 {
    text-align: center;
    font-size:  xx-large;
    font-style: oblique;
    border: 1px solid grey;
 }

 /* Index
 section div {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr;
 }

 section img{
    width: 80%;
    height: 80%;
    place-self: center;
    padding: 10%;
 } */

 /* Presentación
 .Presentacion {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "imgp parrafo";
}

.Presentacion img {
    grid-area: imgp;
    width: 100%;
    padding: 2%;
    place-self: center;
    
}

.Presentacion p {
    grid-area: parrafo;
    text-align: center;
    font-style: italic;
    border: 2px solid grey;
    font-size: medium;
} */

/* Productos
.Contenedor-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    place-self: center ;
    padding: 10%;
}
.card img{
    border: 2px solid black;
    object-fit: cover;
    width: 100%;
}
.card p{
    text-align: center;
    font-size: large;
    font-style:inherit;
} */
/*Consultas*/
/* section form {
    display: flex;
}
.formulario {
    width: 100%;
    flex-wrap: wrap;
    height: 20%;
} */


/*Medios de pago*/
/* .pagos {
    text-align: center;
    font-size: x-large;
    font-style: unset;
}
section ul{
    list-style: none;
} */

/* FOOTER
footer {
    background-color: darkgrey ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer div {
    display: flex;
    column-gap: 20px;
}
.contenedor-footer {
    flex-wrap: wrap;
    align-content: center;
} */

/*TABLET*/
@media screen and (max-width:768px){
  /*Presentacion*/
  .Presentacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Presentacion img {
    display: grid;
}

/*Consultas*/
.mapa{
    grid-template-areas: 
    "mapa";
    align-items: center;
    width: min-content;
    grid-area: mapa;
} 
/*FOOTER*/
.contenedor-footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
 }
    footer h3 {
    font-size: small;
} 
}

/*Mobile*/
@media screen and (max-width:380px) {
    /*HEADER*/
    .contenedor-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden; 
    }
    
    .logo, .menu {
        text-align: center;
    }
    header nav ul {
        font-size: small;
       
    }
    
    /*MAIN*/
    h4 {
        font-size: larger;
    }
    /*Presentacion*/
    .Presentacion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .Presentacion img {
        display: grid;
    }
    
    /*Consultas*/
    .mapa{
        grid-template-areas: 
        "mapa";
        align-items: center;
        width: min-content;
        grid-area: mapa;
    }

/*FOOTER*/
 .contenedor-footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
 }
    footer h3 {
    font-size: small;

}
}







