/*Footer*/
footer {
    background-color: darkgrey ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    div {
        display: flex;
        column-gap: 20px;
        flex-wrap: wrap;
    align-content: center;
     } 
    }
