/*Main-Presentacion*/
main {
    section{
     .Presentacion {
        padding: 0px;
        margin-top: 0%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
          "imgp parrafo";
        .imgP { 
          img {
            grid-area: imgp;
            width: 100%;
            place-self: center; 
           }  
          } 
          p {
            grid-area: parrafo;
            text-align: center;
            font-style: italic;
            border: 2px solid grey;
            font-size: medium; 
            height: min-content;
            place-self: center;
           }
    }
   }
}