/*Main-consultas*/
main {
    section {
        form {
            display: flex;
            div {
                width: 100%;
                flex-wrap: wrap;
                height: 20%;  
            }  
        }
    }
}