/*Main-productos*/
main {
    section {
     .Contenedor-productos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
     .card {
        width: 100%;
        height: 100%;
        background-color: lightgrey;
        place-self: center ;
        padding: 10%;
        img {
            border: 2px solid black;
            object-fit: cover;
             width: 100%;
        } 
         p {
            text-align: center;
            font-size: large;
            font-style:inherit; 
             a {
            color: grey
            }
        }
     }
    }
  }
}