/*Medios de pago*/
main {
    .pagos {
        text-align: center;
        font-size: x-large;
        font-style: unset;
        margin-bottom: 0%;
       ul {
        list-style: none;
       }
       p {
        h5{
            font-size : x-large;
            font-style: oblique;
        }
       }
    }
}