/*Mediaquerys*/
/*TABLET*/
@media screen and (max-width:1024px)  {
    /*main-presentación*/
     main {
        section {
            .Presentacion {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
             div {
                img {
                place-self: center;
             }
            }
        }
     }
    }
     /*Main-index*/
     main {
        section {
            .Inicio {
                display: flex;
                flex-wrap: wrap;}
                .Inicio {
                 justify-content: center;
          img {
             margin: 5px;
             object-fit: cover;
                 }
            }
        }
    }
 /*main-presentación*/
 main {
   section {
      .Presentacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
      img {
    justify-content: center;
    max-width: 100%;
     }
    }
   }
}
  /*Main-productos*/
  main {
    section {
        .Contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    .card{ 
        img {
        max-height: 100%;
            }
         }
        }
    } }     
     /*main-consultas*/
     section {
        form {
            div {
                .mapa {
                    grid-template-areas: 
                    "mapa";
                    align-items: center;
                    width: min-content;
                    grid-area: mapa;  
                }
            }
        }
     }
      /*Footer*/
      footer {
        .contenedor-footer {
             display: grid;
             grid-template-columns: 1fr;
             grid-template-rows: 1fr 1fr 1fr;
        }
      }  

    }
    
    /*Mobile*/
    @media screen and (max-width:780px) {
        header {
            .contenedor-header{
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-x: hidden;
                div {
                    img {
                        place-self:  center;
                        width: 100%;   
                    }
                nav {
                    place-self:  center;
                    ul {
                        font-size: small;
                    }
                }
                
            }
        }
    }
    /*Main-index*/
    main {
        section {
            .Inicio {
                display: flex;
                flex-wrap: wrap;}
                .Inicio {
                 justify-content: center;
          img {
             margin: 5px;
             object-fit: cover;
                 }
            }
        }
    } 
   /*Main-productos*/
   main {
     section {
         .Contenedor-productos {
     display: flex;
     flex-wrap: wrap;
     .card{ 
         img {
         max-height: 100%;
             }
          }
         }
     } }     

    /*Main-presentacion*/
    main {
        section {
            .Presentacion {
                display: flex;
                flex-wrap: wrap;
             .imgP {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: max-content;
                        padding: 0;
                        justify-content: center;
                     } 
                }
            }
        }
     }
     /*Main-consultas*/
     main {
        section {
            form {
                div {
                    .mapa {
                        grid-template-areas: 
                        "mapa";
                        align-items: center;
                        width: min-content;
                        grid-area: mapa;  
                    }
                }
            }
        }
   }   
  /*Footer*/
  footer {
    .contenedor-footer {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr 1fr;
      h3 {
        font-size: small;
      }
    }
  }
}